body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgba(250, 205, 7, 0.925);
}

section {
    display: flex;
}

.haif-width {
    width: 50%;
    padding-left: 5%;
}

.haif-width img {
    width: 80%
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}